#####################
#  🐍  Python
#####################
# байт‑код, кэш и C‑расширения
__pycache__/
*.py[cod]
*.so
*.pyd

# виртуальные окружения
venv/
.env/
.venv/
env/

#####################
#  ⚙️  Инфраструктура
#####################
# Базы данных и дампы
*.db
*.sqlite3
*.sql

# Загрузки/временные файлы проекта
uploads/

# Логи
*.log

#####################
#  👩🏻‍💻  IDE / ОС
#####################
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

#####################
#  🔑  Cекреты
#####################
.env
*.env

alembic/
alembic.ini

# Игнорировать все файлы во вложенных папках test_files, кроме .gitkeep в каждой из них
pytests/test_files/**/*
!pytests/test_files/**/.gitkeep

# Игнорировать все файлы в tests, кроме .gitkeep
pytests/tests/*
!pytests/tests/.gitkeep
