.project-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
.project-text {
	flex: 2;
	min-width: 320px;
}
.project-poster {
	flex: 1;
	max-width: 400px;
	min-width: 260px;
}

.poster-container {
	position: relative;
	width: 360px;
	height: 520px;
	margin: 0 auto;
}
.poster-loader {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 360px;
	height: 520px;
	background: rgba(255,255,255,0.85);
	z-index: 2;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}
.poster-loader.show {
	display: flex;
}
.poster-edit-form-inner {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}
.poster-submit-btn {
	padding: 5px 10px;
}
#poster-image {
	width: 360px;
	height: 520px;
	object-fit: cover;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
#poster-image.hidden,
#poster-actions.hidden,
#poster-loader:not(.show),
#edit-poster-form.hidden,
#project-data.hidden {
	display: none !important;
}

#poster-actions {
	text-align: center;
	margin-top: 18px;
	
}
.tag {
	display: inline-block;
	background-color: #e2e6ea;
	color: #333;
	border-radius: 4px;
	padding: 2px 8px;
	margin: 2px;
	font-size: 14px;
}
.bi-info-circle {
	cursor: pointer;
    margin-left: 5px;
    color: #007bff;
}
.edit-btn, .save-btn {
        cursor: pointer;
        margin-left: 5px;
}
.dropzone {
	border: 2px dashed #007bff;
	border-radius: 10px;
	padding: 32px 20px;
	text-align: center;
	background: #fafbfc;
	color: #444;
	transition: border-color 0.3s, background 0.3s;
	margin-bottom: 20px;
	cursor: pointer;
	max-width: 650px;
	display: flex;
	align-items: center;
	justify-content: center; 
	width:100%; 
	min-height:140px; 
	margin:0 0 16px 0;
}
.dropzone-link {
	color: #007bff;
	text-decoration: underline;
	cursor: pointer;
}
.dropzone.dragover {
	border-color: #28a745;
	background: #e6f9ec;
	color: #222;
}
.dropzone input[type=file] {
	display: none;
}
#wizard-modal.wizard-modal {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0; left: 0;
	width: 100vw; height: 100vh;
	background: rgba(0,0,0,0.5);
	justify-content: center;
	align-items: center;
}
#wizard-modal.wizard-modal.show {
	display: flex;
}
#file-list {
	margin-top: 8px;
	font-size: 14px;
	color: #333;
}
